.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    .header-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 15%;
        height: 100%;
        cursor: pointer;
        padding-left: 20px;
        gap: 10px;
        img{
            height: 70%;
            object-fit: contain;
        }
    }
    .header-user{
        display: flex;
        flex-direction: row;
        width: 20%;
        gap: 20px;
        .user-login, .header-configs, .help{
            cursor: pointer;
        }
    }
}