<div class="title graph-title">
    <h2>Detalhes dos produtos</h2>
</div>
<div class="graph-box">
    <div class="graph-text">
        <div class="graph-product-details">
            <p>Produtos com estoque baixo</p>
            <span>2</span>
        </div>
        <div class="graph-product-details">
            <p>Produtos x</p>
            <span>0</span>
        </div>
        <div class="graph-product-details">
            <p>Produtos y</p>
            <span>0</span>
        </div>
    </div>

    <div class="graph">
        <p>grafico</p>
    </div>
</div>