.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 255, 157, 0.445);
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 95vh;
    background-color: rgba(102, 101, 101, 0.651);
    .sidebar{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 0, 0, 0.308);
        width: 12%;
        height: 100%;
        padding: 10px 0 10px 0;
    }

    .content{
        display: flex;
        width: 88%;
        height: 100%;
        background-color: rgba(0, 0, 255, 0.445);
        padding-left: 30px;
    }
}

