<div class="title top-seller-title">
    <h2>Itens mais vendidos</h2>
</div>

<div class="top-seller-content">
     <div class="top-seller-item" *ngFor="let product of products">
        <div class="top-seller-item-img">
             <img [src]="product.img" [alt]="product.name">
        </div>
        <div class="top-seller-item-details">
             <div class="product-name">
                 <h4>{{ product.name }}</h4>
             </div>
             <p>{{ product.vendas }}</p>
        </div>
     </div>
</div>


